@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

body {
  font-family: 'Noto Sans Thai', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

/* Autofill style fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(17 24 39);
  -webkit-box-shadow: 0 0 0 1000px #f8fafc inset;
  transition: background-color 5000s ease-in-out 0s;
}

.validated input {
  ring: 1px;
  ring-color: #f87171;
}
